doctype 
html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title Farmer produce

nav.navbar.navbar-expand-sm.bg-.navbar-secondary.justify-content-center(style='background-color:brown')
  a.navbar-brand
    img(src='images/ufarm_logo.png', alt='logo', width='100px', height='100px')
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='/about') About
    li.nav-item
      a.nav-link(href='/contact') Contact
    li.nav-item
      a.nav-link(href='/login') Sign in
    li.nav-item
      a.nav-link(href='/farmerproduce') Produce
    li.nav-item
      a.nav-link(href='/home') Home
body
    .table
      table.table-striped.table-dark
      
      
              tr
                  th Product
                  th Name
                  th Quantity
                  th Price   
                  th Type
                  th Payment method 
                  th Delivery method
                  th Farmer Name
                  th Phone
                  th Email
                  th Availability 

                  tbody
              if items.length
              each item in items
                  tr
                      td 
                        img(src='/uploads/'+ item.upload height='50px' width='50px')  
                      td #{item.pname}
                      td #{item.quantity}
                      td #{item.price}
                      td #{item.producttype}
                      td #{item.modeofpayment}
                      td #{item.modeofdelivery}
                      td #{item.username}
                      td #{item.phonNum}
                      td #{item.mail}
                      td #{item.availability}
                      
                    